/**
 * @Author: Your name
 * @Date:   2026-02-05 14:29:25
 * @Last Modified by:   Your name
 * @Last Modified time: 2026-02-06 23:31:37
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

* {
    margin-top: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #bbd7df;
}

.parent-container{
 display: flex;
 align-items: center;
 flex-direction: column;
 }
.container {
    margin-top: 70px;
    background: white;
    width: 380px;
    padding: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    justify-content: center;
    margin-bottom: 20px;
}

/* header */

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header h2 {
    margin: 0;
    font-weight: 400;
}

.close {
    font-size: 22px;
    cursor: pointer;
}

/* tabs */

.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}

.tab {
    background: none;
    border: none;
    padding: 10px 0;
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
    opacity: .5;
}

.tab.active {
    opacity: 1;
    border-bottom: 2px solid black;
}

/* form */

.field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 100%;
    height: 38px;
    border: 1px solid #222;
    padding: 8px;
}

.forgot {
    display: inline-block;
    margin: 10px 0 20px;
    font-size: 14px;
    color: black;
}

/* buttons */

.actions {
    display: flex;
    gap: 10px;
    margin-top: auto;
}

.primary-btn {
    background: #222;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
}

.primary-btn:hover {
    background-color: #219150;
    transform: translateY(-2px);
}

.primary-btn:active {
    transform: translateY(0)
}

.secondary-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #eee;
    color: #aaa;
    margin-bottom: 20px;
}

/* divider */

.divider {
    text-align: center;
    margin: 15px 0;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #ccc;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

/* social buttons */

.social-login button {
    border: none;
    border: 1px solid black;
    background: white;
    padding: 12px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-weight: bold
}

.social-login button img {
    width: 19px;
}

.social-login button:hover {
    background-color: #219150;
    transform: translateY(-2px);
}

/* register */