/**
 * @Author: Your name
 * @Date:   2026-02-03 16:02:11
 * @Last Modified by:   Your name
 * @Last Modified time: 2026-02-08 02:04:07
 */


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* Space between cards */
  /* Space between cards */
  padding: 40px 20px;
  width: 100%;
  align-items: center;
   height: auto;

}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto;
  /* Set a fixed width for each card */
  overflow: hidden;
  /* Ensures image corners are also rounded */
  text-align: center;
  transition: box-shadow 0.3s;
  margin-top: 10px;
}

.product-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  /* Make the image fill the card width */
  display: flex;
  height: auto;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.product-info {
  padding: 15px;
  text-align: center;
}

.product-title {
  font-size: 1.1em;
  margin: 0 0 10px 0;
}

.product-description {
  font-size: 0.9em;
  color: #666;
  margin: 0 0 15px 0;
  font-weight: bold;
}


.actions {
  display: flex;
  gap: 10px;
  /* Space between button and icon */
  margin-top: auto;
}


/* Hover effect for interaction */

.product-card img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease 0s;
}


html {
  scroll-behavior: smooth;
}


/* Responsive: Change to 2 columns on tablets and 1 on mobile */
@media (max-width: 1024px) {

  /* Adjusting main container for tablets */
  .main {
    grid-template-columns: 1fr;
    /* Stack form and summary */
    gap: 30px;
  }

  .summary {
    width: 100%;
    /* Remove 500px fixed width */
  }
}

/* Mobile Phones */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
    /* Single column stack */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .product-title {
    font-size: 1rem;
    /* Slightly smaller text for mobile */
  }

  /* Ensure images don't get too cramped */
  .product-card {
    width: 100%;
    /* Ensure card doesn't exceed grid width */
    margin: 0;
  }
}